.ListView {
	background-color: #4eb0a6;
	height: 100vh;
	color: #d3e8e6;
}

.ListView-Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ListView-HeaderInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ListView-HeaderButtons {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ListView-HeaderButtons button {
	background-color: #f5934b;
	color: black;
	padding: .2em 1em;
	margin-bottom: 5px;
	font-size: 1.2em;
	font-weight: 800;
	font-family: 'Lucida Sans';
	border-radius: 20px;
	box-shadow: 3px 3px 2px #096e64;
}

.ListView h2 {
	padding-top: 20px;
	margin-bottom: 20px;
}

.ListView > * {
	margin-left: 20px;
}

.ListView-List {
	max-height: 75vh;
	overflow: scroll;
}

.ListView-ListItem {
	display: flex;
	flex-direction: column;
	margin: 10px auto 10px 0;
	background-color: #91c5c0;
	padding: 2em;
	border-radius: 20px;
	border: 3px solid #2c9a8e;
	color: #096e64;
	box-shadow: 3px 3px 2px #2f988d;
	width: 25%;
}

.ListItem-Button {
	background-color: #f5934b;
	color: black;
	padding: .2em 1em;
	margin-top: 20px;
	font-size: 0.8em;
	font-weight: 800;
	font-family: 'Lucida Sans';
	border-radius: 20px;
	box-shadow: 3px 3px 2px #096e64;
}
